In [18]:
for angka in range(1, 20):
    print(angka)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
f = [1,2,3]
f[0]

1

In [2]:
m = 3
n = 2
x = [0]*m
x

[0, 0, 0]

In [6]:
y = [2]*n
y

[2, 2]

In [5]:
for i in range(m):
    print(i)

0
1
2

In [12]:
for i in range(m):
    x[i] = [2]*n
print(x)

[[2, 2], [2, 2], [2, 2]]

In [7]:
x[i] = [2]*n

In [11]:
x[i]

[2, 2]

In [9]:
x

[0, 0, [2, 2]]

In [14]:
mat1 = [
    [5, 0],
    [2, 6],
]

In [16]:
len(mat1)

2

In [19]:
mat1[0]

[5, 0]

In [20]:
len(mat1[0])

2

In [4]:
for angka in range(1, 20):
    print (min(angka, 18))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
18

In [9]:
a = []
for i in range(0, 5):
    a.append(i**2)

In [10]:
a

[0, 1, 4, 9, 16]

In [13]:
a = [i**2 for i in range(0, 5)]

In [14]:
a

[0, 1, 4, 9, 16]